body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
}

.item {
  margin: 5px;
}

.input {
  padding: 5px 8px;
}

button {
  padding: 5px 8px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.minus {
  background-color: rgb(255, 114, 114);
}

.cart {
  font-size: 24px;
  margin: 20px;
}

.add,
.add_to-cart {
  background-color: green;
}

.add_to-cart {
  margin-right: 30px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.total,
.value_add {
  background-color: blue;
}

.clear {
  background-color: red;
}

.container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 1100px;
}

img {
  width: 280px;
  height: 200px;
}

.items {
  width: 300px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.name {
  font-size: 18px;
  color: rgb(209, 110, 11);
  text-align: start;
}

.price {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans";
  font-size: 14px;
  color: rgb(255, 105, 11);
  margin-left: 20px;
}

.checkout {
  background-color: rgb(255, 105, 11);
  margin: 20px;
}

.desc {
  font-size: 12px;
}

.cart-items {
  width: 250px;
  padding: 5px;
  /* border: 1px solid gray; */
}

.cart-img {
  width: 150px;
  height: 150px;
}

.cart-name {
  font-size: 12px;
  text-align: start;
}

.cart-desc {
  font-size: 12px;
}

.remove_from-cart {
  margin-bottom: 20px;
}

.cart {
  width: 400px;
  height: 300px;
  box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  padding: 20px 0;
  position: absolute;
  left: 0;
  top: 40px;
  background-color: #fff;
  z-index: 400;
  overflow-y: scroll;
}

.remove_from-cart {
  cursor: pointer;
}

.cart-view- {
  position: relative;
}

.hidden {
  display: none;
}

.cartimg {
  height: 150px;
  width: 150px;
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    width: 900px;
  }
}
